In [1]:
# Add the Pandas dependency
import pandas as pd

In [2]:
# load vine_table file
file_to_load = "vine_table.csv"

# Read the CSV into a DataFrame
vine_table_df = pd.read_csv(file_to_load)
vine_table_df.sample(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
1171800,RHOECDLFHG4HC,4,0.0,0.0,N,Y
3654686,RR3H2B58M6CSU,5,0.0,0.0,N,Y
1772949,RO225N1ORZSXK,5,0.0,0.0,N,Y
2640319,R1CPCEF6QTM9D9,5,0.0,0.0,N,Y
5604253,R38JO89YE6Q6FD,5,0.0,0.0,N,Y

In [210]:
# Total_votes count is equal or greater than 20
total_votes_GE20 = vine_table_df[vine_table_df["total_votes"] >=20 ]

In [196]:
total_votes_GE20.sample(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8794586,R3ENBWPOUXXFTH,3,22.0,26.0,N,Y
8570639,R2FRF1SY4W1BNF,1,2.0,23.0,N,Y
8772755,R27RMLXLABGEQE,5,48.0,52.0,N,Y
8993548,R4SN5G60SZLA3,1,6.0,49.0,N,N
502815,RN4V94BO26V2G,4,105.0,112.0,N,Y

In [211]:
# Adding a new column [prcnt]
total_votes_GE20['prcnt'] = (total_votes_GE20['helpful_votes'] / total_votes_GE20['total_votes'])*100

In [212]:
total_votes_GE20.sample(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,prcnt
3531160,R21MO4NZTRH4OL,5,17.0,20.0,N,N,85.000000
8529545,R28JRKZFWBLWW1,5,17.0,20.0,N,Y,85.000000
1240253,R1M94MKOODQ2X9,1,12.0,34.0,N,Y,35.294118
148257,ROKXEMUU1BYFE,5,1.0,22.0,N,N,4.545455
7837738,R2T60G4C1OZO8E,1,20.0,23.0,N,Y,86.956522

In [214]:
# number of helpful_votes divided by total_votes is equal to or greater than 50%.
TotV_GE50prcnt = total_votes_GE20[total_votes_GE20['prcnt'] >= 50 ]

In [331]:
TotV_GE50prcnt.sample(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,prcnt
8202455,R2T8II7DMW9U2R,1,25.0,31.0,N,Y,80.645161
5745362,R33YOKVHS55JKG,3,199.0,211.0,N,N,94.312796
6962690,R1CYVF3Z84YB1M,2,21.0,23.0,N,Y,91.304348
4376059,R2VWUOL7BVX1NL,1,27.0,35.0,N,N,77.142857
7487114,R3IZ9KLZUDM7Y1,4,20.0,21.0,N,Y,95.238095

In [333]:
TotV_GE50prcnt['star_rating'].count()

65581

In [280]:
# Review was written as part of the Vine program(paid) 
vine_program_Y = TotV_GE50prcnt[total_votes_GE20['vine'] == 'Y']
vine_program_Y['star_rating'].count()

613

In [218]:
vine_program_Y.sample(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,prcnt
4570802,R1CO0K9TH8KB2B,4,150.0,161.0,Y,N,93.167702
895384,R132B9BM6NF5HV,2,106.0,110.0,Y,N,96.363636
246911,R3IF59PJGCNU3Q,4,42.0,54.0,Y,N,77.777778
2231278,R1R074CU88231L,5,20.0,24.0,Y,N,83.333333
8646926,R2Y47H9NK9E3M2,4,146.0,148.0,Y,N,98.648649

In [284]:
# Review was not part of the Vine progrma(unpaid)
vine_program_N = TotV_GE50prcnt[total_votes_GE20['vine'] == 'N']
vine_program_N['star_rating'].count()

64968

In [234]:
vine_program_N.sample(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,prcnt
8991729,R3O3DA9DK46DOY,5,20.0,22.0,N,N,90.909091
3720881,RCMJKM7QVQSSW,5,17.0,20.0,N,Y,85.000000
5613672,R1PB4TN2H1GBZK,5,69.0,78.0,N,N,88.461538
8009767,R2VT21FE4LQSW0,1,51.0,63.0,N,Y,80.952381
2048476,R28NA4DKL4X8YN,2,48.0,62.0,N,N,77.419355

In [221]:
# Total number of reviews
vine_table_df.count()

review_id            9002021
star_rating          9001883
helpful_votes        9001881
total_votes          9001881
vine                 9001881
verified_purchase    9001881
dtype: int64

In [237]:
# Number of 5-star reviews
fiveStar_df = vine_table_df[vine_table_df['star_rating'] == 5]

In [246]:
fiveStar_df.sample(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
3163714,R3VE0FL00608AG,5,0.0,0.0,N,Y
1828887,RTRIG8QON3FQZ,5,0.0,0.0,N,Y
2088355,R3VGJY1PJU4VL1,5,0.0,0.0,N,Y
576025,RZNQI6YU90JQM,5,0.0,0.0,N,Y
7694147,R8TMITHSQERIH,5,0.0,0.0,N,Y

In [247]:
fiveStar_df.count()

review_id            4699957
star_rating          4699957
helpful_votes        4699957
total_votes          4699957
vine                 4699957
verified_purchase    4699957
dtype: int64

# Total number of reviews

In [272]:
TotV_GE50prcnt['star_rating'].count()

65581

# Numbre of 5-Star reviews

In [259]:
fiveStar_review = TotV_GE50prcnt[TotV_GE50prcnt['star_rating'] == 5]
fiveStar_review.sample(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,prcnt
8997030,RXEV5GYG6Q7P5,5,102.0,106.0,N,N,96.226415
8963070,R1HVR3K131XBGX,5,68.0,71.0,N,N,95.774648
718445,R1ZTIX98HH336K,5,77.0,78.0,N,Y,98.717949
7386029,R1SI5LBOX1ESF8,5,28.0,34.0,N,Y,82.352941
8668094,RHDOPTFTNU1UB,5,20.0,20.0,N,Y,100.000000

In [271]:
fiveStar_review['star_rating'].count()

29042

In [321]:
# Percentage of 5-Star reviews for the paid
vine_program_Y_five = vine_program_Y[vine_program_Y['star_rating'] == 5]
vine_program_Y_five['star_rating'].count()

200

In [320]:
vine_program_Y['star_rating'].count()

613

In [318]:
prcnt_of_five_paid = (vine_program_Y_five['star_rating'].count() / vine_program_Y['star_rating'].count()) * 100
prcnt_of_five_paid

32.62642740619902

In [328]:
# Percentage of 5-Star reviews for the unpaid
vine_program_N_five = vine_program_N[vine_program_N['star_rating'] == 5]
vine_program_N_five['star_rating'].count()

28842

In [327]:
vine_program_N['star_rating'].count()

64968

In [325]:
prcnt_of_five_unpaid = (vine_program_N_five['star_rating'].count() / vine_program_N['star_rating'].count()) * 100
prcnt_of_five_unpaid

44.39416328038419